body{
  height:100%;
  width:100%;
  font-family:serif;
  margin:0;
}
top{
  margin:0;*/
   
  
}
.top-image{
  background:url("DSC_0731.JPG");
  background-repeat:no-repeat;
  background-size:cover;
 
  width:100%;
  height:500px;
 position :relative; 
  opacity:0.7;
}
.top-image h1{
  position:absolute;
  color:white;
  margin: 150px 0 0 50px;
  font-family:serif;
  text-shadow:0 5px 5px black;
  font-size:50px;
  background-color:(#e0aa35,0.2) ;
  
  }
  .pop1{
    
    position:absolute;
    right:13%;
    top:350px;
    box-shadow:0 5px 5px #999999;
    /*display:block;*/
    width:450px;
    
    text-align:center;
    background-color:#fcfbf9;
    z-index:10;
   display:none;
   border:2px solid #dbccad;
  }
  
  .pop1 h2{
    font-size:30px;
    margin:0;
    color:#c6a763;
    text-shadow:0 5px 5px #999999;
    /*border:2px solid #dbccad;*/
    line-height:1.5em;
   box-sizing:border-box;
    letter-spacing:1px;

    z-index:10;
  }
  .line{
    width:0%;
    height:165px;
    background-color:#e0aa35;
    position:absolute;
    top:150px;
    opacity:0.3;
  }



  .break1{
padding-top:1px;
    width:100%;
    height:300px;
    background-color:white;
    

  }

  .line2{
    width:0%;
    height:300px;
    background-color:#f2efea;
    position:absolute;
    top:500px;
    opacity:0.2;
    z-index:5;
  }
   .message{
     width:430px;
     height:300px
     display:inline-block;
     margin:50px 0 0 40px;
     line-height:1.7em;
     
   }
   .message p{
     margin:0;
     font-size:16px;
     letter-spacing:1px;
   }
/*\----------service-----*/


  .service{
    width:100%;
    height:500px;
    background-color:#edeae3;
    font-family:serif;
    
  }
  
  menu-title h4{
    /*margin:10px 0 0 50px;*/
    font-size:25px;
    box-shadow:8px 12px 12px 8px #999999;
    /*display:inline-block;*/
   /* border:4px solid rgba(0,0,0,0);*/
  }
  .menu-image{
    display:none;
    
  }
  .menu-picture{
    opacity:0.8;
    box-shadow:8px 12px 12px 8px #999999;
    margin:-20px 0 0 20px;
    
  } 
  .f-left{
    width:30%;
    float:left;
    
  }
  .f-right{
    margin-top:70px;
    width:70%;
    height:200px;
    float:right;
    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    /*background-color:lightgreen;*/
  }

    .clearlist{
  content:  "  "  ;
  bisplay: block;
  clear: both;
  }

  
  /*.menu-area{
    display:flex;*/
   
    
    
  
  .menu-item{
    width:200px;
    height:360px;
    /*display:flex;*/
  /*  justify-content:space-around;
    margin:70px 20px 0 20px;*/
    display:none;
    

  
  }
  

   .menu-item h3 {
     margin-bottom:40px;
  font-family:/* 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝',*/ serif;
  position: relative;
  padding: 1.5rem 2rem;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}

.menu-item h3:before,
.menu-item h3:after {
  position: absolute;
  left: 0;
  width: 100%;
  height:4px;
  content: '';
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  
}

.menu-item h3:before {
  top: 0;
}

.menu-item h3:after {
  bottom: 0;
}

 .menu-title{
   text-align:center;
   margin-left:20px;
   /*box-shadow:8px 12px 12px 8px #999999;*/
 }
 .menu-title h4 {
  font-family:/* 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'Hiragino Mincho ProN', 'HGS明朝E', 'ＭＳ Ｐ明朝', */serif;

  font-size:25px;
  
  width:200px;
  position: relative;
  padding:1.5rem 3.1rem;
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
}

.menu-title h4:before,
.menu-title h4:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  content: '';
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  
}

.menu-title h4:before {
  top: 0;
}

.menu-title h4:after {
  bottom: 0;
}
.menu-item p{
  margin-bottom:30px;
}


.portforio{
  width:100%;
  height:700px;
  background-color:#d6caa9;
  
  margin: 0;
  text-align:center;



  
}
.triangle{
  width:0px;
  border-top: 50px solid #edeae3;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
   margin:0;
   position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   padding-top:0;+
   color:white;
}


.portforio-title{
    margin:0 0 50px 0;
    padding-top:50px;

  
}
.portforio-title h5{
  font-size:25px;
  margin:0;
}
.fas_char_side{
	color: #333;
}
.fas_char_side:before, .fas_char_side:after{
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
	content: '\f068';
}
.fas_char_side:before{
	margin-right: 5px;
}
.fas_char_side:after{
	margin-left: 5px;
}
/*-----------------------portforio--------*/
#gallery{
  text-align:center;
}
/*----スライドショウ-----------*/
#slide_show{
  width:100%;
  max-width:498px;
  height:500px;
  overflow:hidden;
  position:relative;
  margin:0 auto;
  text-align:center;
  border:2px solid #dbccad;
  box-shadow:0 30px 50px #999999;
  
}
#slide{
  width:4000px;
  height:500px;
  list-style:none;
  /*text-align:center;*/
  

  
  margin:0;
  padding:0;
  
  
}
#slide li{
  width:498px;
  
  float:left;
  
  left:0;
  
}

#slide li img{
  width:500px;
  height:500px;
  left:0;

}
 .prev{
  font-weight:900;
  font-size:50px;
  position:absolute;
  left:10px;
  top:50%;
  margin-top:-25px;
  }

.next{
 font-weight:900;
 font-size:50px; 
 position:absolute;
 right:10px;
 top:50%;
 margin-top:-25px;
}
/*---------form--------------------*/
.form-area{
  width:100%;
  height:900px;
  background-color:#d6b060;
  padding-top:50px;

}
.center{
  width:500px;
  margin:0 auto;
}
.input-field{
  width:100%;
  font-size: 25px;
  letter-spacing:2px;
  line-height:2em;
  
}
#your-name{
  width:100%;
  height:50px;
  font-size: 25px;
  border-radius:10px;
}
#your-email{
  width:100%;
  height:50px;
  font-size:25px;
  border-radius:10px;
}
#your-message{
  width:100%;
  height:200px;
  font-size:25px;
  vertical-align:middle;
  border-radius:10px;
}
.checkbox-area{
  width:100%;
  height:190px;
  background-color:#f7f5ef;
  border-radius:10px;
}
.checkbox-left{
  float:left;
}
.checkbox-right{
  float:right;
  margin-right:30px;
}
.run{
  display:block;
  margin-top:10px;
  
  }
  .footer{
    width:100%;
    height:50px;
     background-color:#d17f7b;
     color:white;
     /*padding-left:10px;*/
     text-align:center;
    

     }
    .footer h6{
      font-size:16px;
      margin:0;
      line-height:50px;
      
    } 
    .footer span{
      font-size:10px;

    }

/*---------------------メディアクエリ ---------------------------------*/ 


/*--------------------------------------------メディアクエリ -------*/ 


@media screen and (max-width:1159px){
  .service{
    
    height:830px;
    
  }
}
  
@media screen and (max-width:1030px){
  
  .menu-item{
    width:40%;
    height:330px;
    margin-right:15px;
    
  }
  .f-right{
    justify-content:flex-end;
    
  }
  .pop1{
    right:1%;

  }
}

@media screen and (max-width:880px){
  /*.top-image{
    
    background-position: right;*/
    .line1a{
      width:0%;
    height:145px;
    background-color:#e0aa35;
    position:absolute;
    top:150px;
    opacity:0.3;



}
  
  .pop1{
    right:5%;
    width:90%;
    height:190px;
    }
  .pop1 h2{
    line-height:1.31em;
    letter-spacing:2px;
    
  }
  .line2{
    text-align:center;
  }
  .message{
    text-align:center;
    
  }
   .message p{
     margin-top:40px;
     padding-top:20px;
   }
   .break1{
     width:100%;
     
     text-align:center;
   }
   .service{
    height:1600px;
    /*text-align:center;*/
   }
   .f-left{
     float:none;
     
     }
     .menu-image{
       
     }
     .menu-picture{
      
     }

     .f-right{
       width:90%;
       float:none;
       margin:0 auto;
       
       }
    .menu-item{
      width:100%;
      height:270px;
    }
    .center{
      width:95%;
    }

   }
   @media screen and (max-width:690px){
    .top{
      width:100%;
    } 
  /*.top-image{
    
    background-position: right;
  }*/
  .break1{
    height:330px;
  }
  .service{
    height:1500px;
  }
}
    
   @media screen and (max-width:540px){
    


    
}
    
   
   
    
     
   
